.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}

.navbar__item {
    flex-basis: 25%;
    list-style-type: none;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.navbar__item {
    display: inline-block;
    margin-right: 10px;
}

ul.navbar__item:last-child {
    margin-right: 0;
}

a.nav-link {
    font-family: 'Caprasimo', cursive;
    font-size: 18px;
    color: #ff5564;
    text-decoration: none;
}

a.nav-link:hover {
    color: #ffe55b;
}